
html, body {
    font-family: 'Roboto', sans-serif;
}

article > h2 {
    font-size: 35px!important;
    padding-bottom: 10px!important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height:5px

}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b8b8b8;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b8b8b8;
}

footer {
    padding-bottom: 3px;
}

footer img {
    vertical-align: middle!important;
}

.search-container input {
    background-color: #f6f6f6
}
.search-container ul {
    border: none;
}

.lnb {
    bottom: 0px; /* This helps hide the footer */
    background-color: #6b7178;
    overflow-wrap: break-word;
}
.lnb .lnb-api h3 a,
.lnb h3 {
    color:#e5eff1 ;
}

.member-type {
    color: lightgray!important;
}

.lnb .lnb-api a, .lnb .lnb-examples a {
    color: white;
}

.lnb .lnb-api li, .lnb .lnb-examples li {
    border-bottom: 1px solid gray;
}

.lnb .inner li {
    border-bottom: 0!important;
}

.lnb .lnb-api .toggle-subnav {
    color: lightgrey;
}

.lnb .title .link {
    font-style: normal;
    font-size: 30px;
}

.main {
    background: #fff;

    /* These help hide the footer */
    bottom: 0px;
    margin-bottom: auto;
}
.main section article h3.subsection-title {
    color: #56aac6;
}
.main section article table td.name, .main section article table td.type, .main section article table td.attributes, .main section article table td.default {
    max-width: 300px;
}

#resizer {
    background-color: white;
}

footer {
    height: 0px;
    width:  0px;
    background-color: white;
}

.search-container ul {
    opacity: 1;
    z-index: 2;
    border: none;
    background: white;
}

.search-container input {
    color: black;
    border: .5px solid transparent;
    background-color: white;
    border-radius: 10px;
}

.search-container input:focus {
    outline: none;
}

.search-container ul {
    margin-top: -8px;
}

.search-container ul li:hover,
.search-container ul li a {
    color: #FF4F1F!important;
}

.search-container ul li:hover {
    background: lightgray;
}

.search-container ul li a strong {
    color: #FF4F1F;
    font-weight: bold;
}

.search-container ul li .group {
    color: gray;
    display: block;
    font-weight: lighter;
    margin-left: 0;
}

.readme h1 {
    border-bottom-color: #FF4F1F;
}
.main section header h2 {
    border-left: 5px solid #FF4F1F;
}

a,
.readme p a {
    color: #FF4F1F;
}
code {
    color: #FF4F1F;
}

/* taken from https://github.com/google/code-prettify/blob/master/styles/sunburst.css but changed what I could to match devcenter*/
pre .str, code .str { color: #7ec699; } /* string  */
pre .kwd, code .kwd { color: #cc99cd; } /* keyword */
pre .com, code .com { color: #999999; font-style: italic; } /* comment */
pre .typ, code .typ { color: #6196cc; } /* type */
pre .lit, code .lit { color: #67cdcc; } /* literal */
pre .pun, code .pun { color: #cccccc; } /* punctuation */
pre .pln, code .pln { color: #ffffff; } /* plaintext */
pre .tag, code .tag { color: #6196cc; } /* html/xml tag */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name */
pre .atv, code .atv { color: #7ec699; } /* html/xml attribute value */
pre .dec, code .dec { color: #6196cc; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
	background-color: #2d2d2d;
	border-radius: 8px;
}

pre.prettyprint {
	width: 95%;
	margin: 1em auto;
	padding: 1em;
	white-space: pre-wrap;
}

.signature-attributes {
    color: #aaa;
}

.signature-attributes:before {
    content: ' <';
}

.signature-attributes:after {
    content: '>';
}